/* Style sheet for JohnTheLeatherman.com */

:root {
	--white: #fefefa;
	--offwhite: #eeeeea;

	--lt-grey: #cececa;
	--md-grey: #aeaeaa;
	--dk-grey: #6e6e6a;
	--black: #3e3e3a;

	--lt-green: #a3b16c;
	--md-green: #91a055;
	--dk-green: #4c542c;

	--lt-blue: #8fd5d3;
	--md-blue: #68acaa;
	--dk-blue: #2d4244;

	--footer-height: 100px;
}


html, body {
	font-family: 'Raleway', sans-serif;
	background-color: var(--offwhite);
	color: var(--black);
	text-transform:uppercase;
	font-size: 14px;
	margin: 0;
	padding: 0;
	height: 100%;
}

p {
	text-transform: none;
	line-height: 1.8em;
	font-size: 1.1em;
}

a {
	color: var(--black);
	-webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

p a {
	color: var(--md-green);
}

a:hover {
	color: var(--md-green);
	text-decoration: none;
}

h1, h2, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

}

h1 , .h1{
	margin-top:40px;
	margin-bottom:40px;
}

 /* layout */

#body {
	padding-bottom: calc(var(--footer-height) + 40px);   /* Height of the footer + extra space above footer */
}

#footer {
	background-color: var(--white);
	position:absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: var(--footer-height);   /* Height of the footer */
	padding-top: 10px;
}

span.social a{
	margin-right:12px;
	font-size:16px;
}

/* Needed for footer to stay in place */
#wrapper {
	min-height: 100%;
	position: relative;
}

/* for the animated background */

#animated-bg > canvas {
	position: fixed; top: 0; left: 0; z-index: -1;
} 

#animated-bg {
	min-height: 100%;
	position: relative; 
	z-index: 2;
 }



 /* navbar */

.title-bar {
	background-color: var(--white);
	width: 100%;
	padding: 20px;
}

div.leather-item {
	margin-top:15px;
	margin-bottom:15px;
}

div.popup {
	background-color: var(--white);
	position:absolute;
	bottom:0px;
	right:15px;
	left:15px;
	max-height:0px;
	color:transparent;
	-webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
	/*opacity: 0.7;*/
}

div.leather-item:hover > div.popup {
	color: var(--black);
	max-height: 100%;
	padding:15px 0px;
}

.title-bar-right{
	margin-top:4px;
}

.title-bar-right a{
	margin-left:8px;
	margin-right:8px;
	font-size:1.2em;
}

span.price{
	color:var(--md-green);
	margin-right:20px;
}

/*leather nav*/
.color-swatch {
	display: inline-block; 
	vertical-align: middle;
	margin-right:5px;
	height: 1.3em;
	width: 1.3em;
	border-radius: 50%;
}

/* Secondary Button (White) */

.btn.btn-secondary.square{
	text-transform: uppercase;
	padding: 15px 20px;
	background-color: var(--white);
	color:var(--black);

	border:none;
	border-bottom: 1px solid var(--md-grey);
	border-radius: 0px;
	margin-right:5px;
	margin-bottom:10px;
	-webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

.btn.btn-secondary.square.active{
	background-color:var(--lt-grey);
	color:var(--black);

	border:none;
	border-bottom:1px solid var(--md-grey);
	box-shadow: none;
}

.btn.btn-secondary.square:hover{
	background-color:var(--lt-grey);
	background-color:var(--md-green);
	color:var(--black);
}

/* PRIMARY BUTTON (Green) */
.btn.btn-primary.square{
	text-transform: uppercase;
	padding: 15px 20px;
	background-color: var(--lt-green);
	color:var(--white);

	border:none;
	border-bottom: 1px solid var(--dk-green);
	border-radius: 0px;
	margin-right:5px;
	margin-bottom:10px;
	-webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

.btn.btn-primary.square:hover{
	background-color:var(--lt-grey);
	background-color:var(--md-green);
	color:var(--white);
}


/*select2*/
.select2-dropdown.select2-dropdown--below{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid var(--md-grey);
}

.select2-container--default .select2-selection--single{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid var(--md-grey);
}

/* Custom for Slick Slider */
.slick-prev:before {
	color: var(--black);
	content:"<";
	font-weight: bold;
}
.slick-next:before {
	color: var(--black);
	content:">";
	font-weight: bold;
}
.slick-slide {
	width:140px;
	padding: 5px;
}
.cursor-zoom-in:hover {
	cursor: zoom-in;
}

.checkout-item {
	background-color: var(--white);
}

div.row.checkout {
	background-color: var(--white);
	padding: 20px;
}

.border-bottom {
	border-bottom:1px solid var(--md-grey);
}

.home-banner { 
    /* The image used */
    background-image: url("/images/home/coasters.jpg");

    /* Full height */
    min-height: 50vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    overflow:hidden

}

.home-banner-text {
	position: absolute;
	top: 50%;
	/*transform: translateY(-50%);*/

	right:50%;
	transform: translate(50%, -50%);

	background-color: rgba(0,0,0,0.4);
	padding-right: 1px;
	/*padding-left: 1px;*/

	-webkit-box-shadow: 0px 0px 300px 176px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 300px 176px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 300px 176px rgba(0,0,0,0.4);
}

.home-title {
	color: var(--white);
	font-size: 4em;
 	font-weight: 800;
 	letter-spacing: 0.2em;
}
.home-subtitle {
	color: var(--offwhite);
	font-size: 2em;
}

div.flag {
	color: var(--black);
	background-color: var(--lt-green);
	border-bottom:1px solid var(--dk-green);
	text-align: center;
	margin-right: 10px;
	padding: 7px 7px;
	position: absolute;
	top: -5px;
	right: 15px;
	font-weight: 900;

	width: 20%;
	letter-spacing: 1px;

}

div.shift-down {
	color:red;
}

.text-md-grey {
	color: var(--md-grey) !important;
}
.text-dk-grey {
	color: var(--dk-grey) !important;
}
.cursor-pointer {
	cursor:pointer;
}

@media only screen and (max-width: 512px) {
	div.flag{
		width: 25%;
		letter-spacing: 0px;
		padding: 5px 5px;
	}
}

@media only screen and (max-width: 400px) {
	div.flag{
		width: 30%;
		letter-spacing: 0px;
		padding: 2px 2px;
	}

}


/*extra spacing*/
.mr10 {

	margin-right:10px;
}
.mt0 {
	margin-top:0px;
}
.mt5 {
	margin-top:5px;
}
.mt10 {
	margin-top:10px;
}
.mt20 {
	margin-top:20px;
}
.mt40 {
	margin-top:40px;
}

.mb10 {
	margin-bottom:10px;
}
.mb20 {
	margin-bottom:20px;
}
.mb30 {
	margin-bottom:30px;
}

.pl0 {
	padding-left:0px;
}
